name: CI

on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout your code
        uses: actions/checkout@v4

      - name: Prepare Theos
        uses: randomblock1/theos-action@main

      - name: Build package
        run: |
          make package FINALPACKAGE=1
      
      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: Tweak-Files
          path: |
            .theos/obj/*.dylib
            packages/*.deb
            
